/aerial-test
/alac/libalac.la
/binary.c
/client.c
/crypto.c
/dmap.c
/main.c
/ring-buffer.c
/rtp.c
/rtsp.c
/aerial.h
/aerial.vapi
/libaerial.la
/gstreamer.c
/libgstaerial.la
/Aerial-1.0.gir
/Aerial-1.0.typelib
